* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: all 1s;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: rgb(229, 229, 229);
}

.increaseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  gap: 20px;
}
